.CounterMatriz {
    color:#DFBF53;
    font-size: 80px;
    word-break:break-all;
    display:inline;
    position: relative;
    padding-left:180px;
    padding-right:180px;
    line-height: 300px;
}

